<sly data-sly-test="${!properties.title && wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${'Title' @ i18n}"></p>
</sly>

<sly data-sly-test="${properties.title}">
	<div id="${properties.anchor}"></div>
	<div class="row">
            <div class="black-header-with-text t-pl t-pt">
                <div class="bg-black d-inline-block py-2 px-4">
                    <h2 class="d-inline text-white">${properties.title @ i18n}</h2>
                </div>
                <p class="py-3">${properties.description @ i18n}</p>
            </div> 
     </div>
</sly>
