<sly data-sly-test="${wcmmode.edit}">
<p class="cq-placeholder" data-emptytext="Feature Carousel"></p>
</sly>
hiii

<div class="row">
	<div class="w-100">

		<!-- t-carousel-container start -->
		<div class="t-carousel-container" id="t-carousel-1">
			<div class="t-carousel">
				<div class="t-carousel-item">
					<img class="img-fluid d-none d-lg-block" width="100%"
						src="assets/img/carousel-img.png" alt=""> <img
						class="img-fluid d-lg-none" width="100%"
						src="assets/img/carousel-img-mobile.png" alt="">
					<div class="content bg-black">
						<div class="btn btn-simple btn-red  no-hover  t-header-4">KIN
							CHIU YI, STUDENT</div>
						<p class="p-4 t-header-4 text-white">"I love my F&B practival
							classes in my hospitality course. Thanks to them, I was selected
							to be a part-time server during the Prime Minister's Dinner with
							the Media in 2007!"</p>
					</div>
				</div>

				<div class="t-carousel-item">
					<img class="img-fluid d-none d-lg-block" width="100%"
						src="assets/img/carousel-img.png" alt=""> <img
						class="img-fluid d-lg-none" width="100%"
						src="assets/img/carousel-img-mobile.png" alt="">
					<div class="content bg-black">
						<div class="btn btn-simple btn-red no-hover t-header-4">YAP
							HOCK SIN, STUDENT</div>
						<p class="p-4 t-header-4 text-white">“We have individual and
							group projects every semester. They taught us to be independent
							and mature, and helped improve our social skills and team work.”</p>
					</div>
				</div>
			</div>
			<div class="t-carousel-controls d-flex justify-content-center">
				<div class="btn-group">
					<button class="btn btn-simple btn-gray btn-icon px-4 prev">
						<i class="t-icon-left white"></i>
					</button>
					<div class="btn-seperator"></div>
					<button class="btn btn-simple btn-gray btn-icon px-4 next">
						<i class="t-icon-right white"></i>
					</button>
					<button class="btn btn-simple btn-red pr-3 indicator no-hover">1/4</button>
				</div>
			</div>
		</div>

		
		<!-- end t-carousel-container start -->
	</div>
</div>
