		<sly data-sly-test="${wcmmode.edit}">
			Accordion
        </sly>
<div data-accordion-group>
			<sly data-sly-use.multiItems="com.taylorsuniversity.models.AccordionComponentModel">
				<sly data-sly-list.head="${multiItems.submenuItems}">
					<section class="accordion t-accordion ${wcmmode.edit ? 'open':'' }" data-accordion>
						<div class="accordion-control" data-control>${head.accordiontitles_t}</div>
                        	<div data-content>
								<sly data-sly-resource="${ 'accordionpar{0}' @ format=[headList.count], resourceType='foundation/components/parsys'}" />
                            </div>
                     </section>
 				 </sly>
			</sly>
         </div>

<script>
</script>