<!--
  ~ <%--
  ~   Copyright 1997-2008 Day Management AG
  ~   Barfuesserplatz 6, 4001 Basel, Switzerland
  ~   All Rights Reserved.
  ~
  ~   This software is the confidential and proprietary information of
  ~   Day Management AG, ("Confidential Information"). You shall not
  ~   disclose such Confidential Information and shall use it only in
  ~   accordance with the terms of the license agreement you entered into
  ~   with Day.
  ~ --%>
  -->

<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gef-ie9 landing">
<!--<![endif]-->



<sly data-sly-test.templateName="${pageProperties.cq:template}">
	<div data-sly-test.mode="${templateName == '/apps/taylorsuniversity/templates/homepage' ? 'edit' : 'disabled'}">
	      <div data-sly-resource="${ @path='header', resourceType='taylorsuniversity/components/content/header', wcmmode=mode}"></div>
	</div>
</sly>

 <!-- Placeholder for header component -->
<sly data-sly-include="content.html"></sly>
<!-- Placeholder for footer component -->




