	<div class="section-scroll-dropdown-nav w-100  t-pt" id="section-scroll-dropdown2">
        <div class="btn-group btn-dropdown">
            <sly data-sly-use.anchorLists="com.taylorsuniversity.models.AnchorTabContainerModel">
                <sly data-sly-list.bean="${anchorLists.getAnchorTabItems}">
                 <a href="#${bean.link}" class="btn btn-simple btn-black"><span class="button-text">${bean.text}</span><i class="d-lg-none t-icon-right pull-right white ml-3"></i></a>
                </sly>
            </sly>
        </div>
	</div>
<sly data-sly-resource="${ @path='anchorpar', resourceType='foundation/components/parsys'}" />
